/* Style the navigation bar */
.navbar-transparent {
    background-color: transparent;
    transition: background-color 0.5s;
}

/* Set the initial position of the navigation bar at the top */
.navbar-fixed-top {
    top: 0;
}

/* Style the navigation links */
.navbar-nav .nav-item {
    margin-right: 15px;
}

.navbar-nav .nav-item .nav-link{
   color: black;
}
.navbar.sticky {
    background-color: white;
}

/* Style the navigation links on hover */
.navbar-nav .nav-item a:hover {
    color: white; /* Change to your desired color */
}

/* Style the logo */
.navbar-brand img {
    height: 80px; /* Adjust the height as needed */
}

/* Style the carousel captions */
.carousel-caption h3 {
    font-size: 24px;
    color: #fff; /* Text color for slide titles */
}

.carousel-caption p {
    font-size: 16px;
    color: #fff; /* Text color for slide descriptions */
}

/* Set the background properties for carousel items */
.carousel-item {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh; /* Make the images full-screen */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    padding: 20px;
    
  }


.custom-margin{
    margin-top: 70px;
}


 